@media (max-width: 880px) {

    .header-wraper {
        background-image: url(/src/assets/images/background.png) no-repeat;
        background-size: 300px;
        background-position: center;
    }

    .main-info {
        display: block;
        position: absolute;
        margin-top: 15%;
        left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-info h1 {
        font-size: 20px;
    }

    .main-info h2 {
        font-size: 15px;
    }

    .typed-text {
        font-size: 25px;
    }

    .main-buttons {
        font-size: 10px;
    }
}