@import "/src/styles/menu-mobile.css";

.padding {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark);
}

.col-sm-5 img {
    border-radius: 30px;
}

.col-sm-6 h2 {
    color: var(--white);
    font-weight: 600;
}

.col-sm-6 p {
    color: var(--white); 
}

@media (max-width: 1115px) {
    .row img {
    max-width: 200px;
    margin: auto;
    display: block;
    }

    .col-sm-6 h2 {
        padding: 0;
        font-size: 25px;
    }

    .col-sm-6 p {
        font-size: 15px;
    }
}







