.footer {
  width: 100%;
  height: 140px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
}

.social-media {
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer a {
  font-size: 50px;
  color: var(--blue);
  margin: 0 15px;
}

.footer p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
}
